process {
  withName:porechop {
    container = "quay.io/biocontainers/porechop:0.2.4--py39h1f90b4d_6"
}
  withName:minimap2 {
    container = 'quay.io/staphb/minimap2:2.25'
}
  withName:splitbam {
    container = "staphb/samtools:1.17"
}
  withName:multiqc {
	container = "quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0"
}
  withName:kraken2 {
	container = "quay.io/staphb/kraken2:2.1.3"
} 

  withName:kraken2_consensus {
	container = "quay.io/staphb/kraken2:2.1.3"
} 

  withName:centrifuge {
	container = "quay.io/ezlab/centrifuge_104_lemmi:v2.1_cv1"
}
  withName:centrifuge_consensus {
	container = "quay.io/ezlab/centrifuge_104_lemmi:v2.1_cv1"
}
  withName:krona_kraken {
    container = "quay.io/microbiome-informatics/krona:2.7.1"
}
   withName:krona_centrifuge {
    container = "quay.io/microbiome-informatics/krona:2.7.1"
}
   withName:krona_centrifuge {
    container = "quay.io/microbiome-informatics/krona:2.7.1"
}
  withName:make_report {
   container="nanozoo/rmarkdown:2.10--7ba854a"
 }
  withName:abricate {
  container= "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
 }
  withName:blast_cons {
    container="ncbi/blast:2.15.0"
  } 
  withName:mlst {
    container="staphb/mlst:2.23.0-2023-08"
  }
}

