process {
  withName:merge_fastq {
    container = "quay.io/biocontainers/nanoq:0.10.0--h031d066_2"
}
 withName:merge_filter_fastq {
    container = "quay.io/biocontainers/nanoq:0.10.0--h031d066_2"
}
  withName:porechop {
    container = "quay.io/biocontainers/porechop:0.2.4--py39h1f90b4d_6"
}
  withName:minimap2 {
    container = 'quay.io/staphb/minimap2:2.25'
}
  withName:splitbam {
    container = "staphb/samtools:1.17"
}
  withName:multiqc {
	container = "quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0"
}
  withName:kraken2 {
	container = "quay.io/staphb/kraken2:2.1.3"
} 
   withName:krona_kraken {
    container = "quay.io/microbiome-informatics/krona:2.7.1"
}
   withName:make_report {
   container="dhp565/rmarkdown_pagedown:v1.0.0"
 }
  withName: orfipy {
  container="quay.io/biocontainers/orfipy:0.0.4--py310h0dbaff4_2"
 }
   withName: medaka {
  container="ontresearch/medaka:sha3dc8413c2af77a427048b091c7a69b638ba30cfe"
 }
  withName:typing {
  container= "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
 }
 withName:mafft {
  container = "staphb/mafft:7.526"
}

withName:iqtree {
  container = "staphb/iqtree2:2.4.0"
}

withName:ggtree{
  container = "xushuangbin/ggtreeextraarticleenv:sha-d9d92ba"

}
 withName:blast_cons {
  container="ncbi/blast:2.16.0"
  
}
  withName:bedtools {
  container="staphb/bedtools:2.31.1"
}
  withName:extract_mapped_ref {
  container="staphb/seqkit:2.10.0"
}
  withName:igvreports {
  container="quay.io/biocontainers/igv-reports:1.15.1--pyh7e72e81_0"
}
  withName: mapped_ref_bed {
  container="staphb/samtools:1.17"
  
}
  withName: htmltopdf {
  container="dirtsimple/weasyprint:latest"
}
withName: seq_length {
  container="staphb/seqkit:2.10.0"
}
  withName:minimap2_dehost {
    container = 'quay.io/staphb/minimap2:2.25'
}
  withName:samtools_dehost {
    container = "staphb/samtools:1.17"
}
withName:kraken2_dehost {
	container = "quay.io/staphb/kraken2:2.1.3"
} 
  withName: nanoplot {
  container="nanozoo/nanoplot:1.42.0--547049c"
}
}